@mixin hide-text {
    text-indent: 110%;
    overflow: hidden;
    white-space: nowrap;
}
@mixin mobile {
    @media(max-width:576px){
        @content;
    }
}
@mixin pad {
    @media(max-width:820px){
        @content;
    }
}