$brand-color:#406D80;
$white-color: #ffffff;
$black-color:#3d3d3d;
$city-color:#CD8FC6;
$country-color:#7BB4CD;
$type-color:#8D7463;
$lightbrand-color:#8FA8B3;
$orange-color:#EBB445;

$font-title:100px;
$font-xl:48px;
$font-l:36px;
$font-m:28px;
$font-s:18px;
$font-xs:14px;
$font-family-ch: 'Noto Sans TC:wght', serif;
$font-family-eg: 'Acme', sans-serif;
