/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*reset end*/
body {
  font-family: "Noto Sans TC:wght", serif;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Noto Sans TC:wght", serif;
  color: #406D80;
}

.back-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 48px;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.back-top a {
  color: #CD8FC6;
}

.back-top:hover {
  opacity: 0.5;
}

.back-top.hide {
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 999;
  width: 100%;
  height: 120px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 10px #8FA8B3;
          box-shadow: 0 0 10px #8FA8B3;
}

@media (max-width: 576px) {
  .header {
    height: 70px;
  }
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 576px) {
  .header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    padding: 0;
  }
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 40px;
}

@media (max-width: 576px) {
  .header-logo {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header-logo a {
  background-image: url(../images/logo.png);
  width: 183px;
  height: 36px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 28px;
  font-weight: 600;
}

@media (max-width: 576px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 70px;
    left: -100%;
    width: 70%;
    height: 100vh;
    text-align: center;
    -webkit-transition: .5s;
    transition: .5s;
  }
}

.nav a, .nav .search-btn {
  color: #406D80;
  padding: 0 30px;
  text-decoration: none;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 576px) {
  .nav a, .nav .search-btn {
    padding: 20px;
  }
}

.nav a:hover, .nav .search-btn:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

@media (max-width: 576px) {
  .nav a:hover, .nav .search-btn:hover {
    -webkit-transform: none;
            transform: none;
  }
}

.nav a:after, .nav .search-btn:after {
  content: '';
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: -10px;
  border-bottom: 5px solid #406D80;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 576px) {
  .nav a:after, .nav .search-btn:after {
    border-bottom: none;
  }
}

.nav a:hover:after, .nav .search-btn:hover:after {
  left: 0;
  right: 0;
}

.header-btn {
  display: none;
}

@media (max-width: 576px) {
  .header-btn {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    color: #406D80;
    font-size: 36px;
  }
}

#header-control {
  position: absolute;
  top: 0;
  display: none;
}

#header-control:checked ~ .container .nav {
  left: 0;
}

#header-control:checked + .header-btn span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 4px;
}

#header-control:checked + .header-btn span:nth-child(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: -4px;
}

.hamburger-icon {
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  top: 7px;
}

.hamburger-icon span {
  display: block;
  height: 1px;
  background-color: #406D80;
  position: relative;
  -webkit-transition: .3s;
  transition: .3s;
}

.hamburger-icon span:nth-child(2) {
  margin-top: 7px;
}

.hamburger-icon span:nth-child(3) {
  margin-top: 7px;
}

.search-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 0;
  height: 50px;
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
}

#search-control {
  opacity: 0;
}

#search-control:checked ~ .search-nav {
  opacity: 1;
}

.header-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

.header-search button {
  border-radius: 0 200px 200px 0;
}

.header-search button:hover > i {
  color: #ffffff;
}

.header-search input {
  border-radius: 200px 0 0 200px;
  width: 180px;
}

.header-search input:focus {
  outline: none;
}

.header-search input, button {
  border: none;
  background-color: #8FA8B3;
  padding: 5px 10px;
  color: #406D80;
  font-size: 18px;
}

@media (max-width: 576px) {
  .header-search input, button {
    font-size: 28px;
  }
}

.blog {
  padding: 50px 0;
}

@media (max-width: 576px) {
  .blog {
    padding: 20px 0;
  }
}

.blog .container {
  width: 100%;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

.blog .container .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 30px;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 576px) {
  .wrap {
    padding: 0 10px;
  }
}

.blog-box {
  padding: 0 10px;
  text-align: center;
  width: 380px;
}

@media (max-width: 576px) {
  .blog-box {
    padding: 0 0 10px 0;
  }
}

.blog-box h2 {
  font-size: 36px;
  color: #EBB445;
  font-weight: 700;
  padding: 20px 0;
}

.blog-box .box {
  position: relative;
  -webkit-box-shadow: 0 0 10px #8FA8B3;
          box-shadow: 0 0 10px #8FA8B3;
}

.blog-box .box h2 {
  font-size: 36px;
  color: #EBB445;
  font-weight: 700;
}

.blog-box .box p {
  font-size: 18px;
  color: #ffffff;
  font-weight: 100;
}

.blog-box .box a {
  color: #EBB445;
  text-decoration: none;
}

.blog-box .box:hover .txt {
  opacity: 1;
}

.blog-box .box img {
  width: 100%;
  vertical-align: middle;
}

.blog-box .txt {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  -webkit-transition: .6s;
  transition: .6s;
}

.tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px 0;
}

.tag .country {
  background-color: #7BB4CD;
  border-radius: 20px;
  font-size: 18px;
  padding: 10px 20px;
  color: #ffffff;
}

.tag .type {
  background-color: #CD8FC6;
  border-radius: 20px;
  font-size: 18px;
  padding: 10px 20px;
  color: #ffffff;
}

.tag a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #ffffff;
}

.tag a:hover {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.banner2 {
  background-image: url(../images/banner2-1.png);
  height: 400px;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner2 h3 {
  font-size: 36px;
  color: #406D80;
  font-weight: 700;
}

.banner2 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 36px;
  color: #406D80;
  font-weight: 700;
  text-decoration: none;
  padding: 20px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: .6s;
  transition: .6s;
  font-family: "Acme", sans-serif;
}

.banner2 a i {
  padding-right: 10px;
}

.banner2 a:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.view {
  padding: 50px 0;
}

.view .container {
  width: 100%;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

.view .container .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 30px;
}

@media (max-width: 576px) {
  .view .container .title {
    padding-bottom: 10px;
  }
}

.view .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.view-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  padding-bottom: 50px;
  margin: auto;
}

.view-tab li {
  margin: 0 10px;
  position: relative;
}

.view-tab a {
  border: 1px solid #406D80;
  color: #406D80;
  text-decoration: none;
  border-radius: 10px;
  padding: 20px 50px;
  font-size: 28px;
  -webkit-transition: .5s;
  transition: .5s;
}

@media (max-width: 576px) {
  .view-tab a {
    font-size: 18px;
    padding: 10px;
  }
}

.view-tab a:hover {
  background-color: #406D80;
  color: #ffffff;
}

.view-box {
  width: 380px;
  margin: 0 10px 10px 0;
  -webkit-box-shadow: 0 0 10px #8FA8B3;
          box-shadow: 0 0 10px #8FA8B3;
  overflow: hidden;
  text-align: center;
}

@media (max-width: 576px) {
  .view-box {
    margin: 0 0 10px 0;
  }
}

.view-box h2 {
  font-size: 36px;
  color: #EBB445;
  font-weight: 700;
  padding: 10px 0;
}

.view-box h5 {
  font-size: 18px;
  color: #EBB445;
  font-weight: 100;
}

.view-box p {
  font-size: 18px;
  color: #406D80;
  font-weight: 100;
  padding: 10px 10px;
}

.view-box img {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: .5s;
  transition: .5s;
}

.view-box:hover img {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

.banner3 {
  background-image: url(../images/banner3-1.png);
  height: 400px;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner3 h3 {
  font-size: 36px;
  color: #406D80;
  font-weight: 700;
}

.banner3 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 36px;
  color: #406D80;
  font-weight: 700;
  text-decoration: none;
  padding: 20px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: .6s;
  transition: .6s;
  font-family: "Acme", sans-serif;
}

.banner3 a i {
  padding-right: 10px;
}

.banner3 a:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.about {
  padding: 50px 0;
}

.about .container {
  width: 100%;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

.about .container .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 30px;
}

.about .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-box {
  padding: 0 10px;
  text-align: center;
}

.about-box h2 {
  font-size: 36px;
  color: #EBB445;
  font-weight: 700;
  padding: 20px 0;
}

.about-box .box {
  position: relative;
  -webkit-box-shadow: 0 0 10px #8FA8B3;
          box-shadow: 0 0 10px #8FA8B3;
}

.about-box .box h2 {
  font-size: 36px;
  color: #EBB445;
  font-weight: 700;
}

.about-box .box p {
  font-size: 28px;
  color: #ffffff;
  font-weight: 100;
  font-family: "Acme", sans-serif;
}

.about-box .box a {
  color: #EBB445;
  text-decoration: none;
  border: #EBB445 1px solid;
}

.about-box .box:hover .txt {
  opacity: 1;
}

.about-box .box img {
  width: 100%;
  vertical-align: middle;
}

.about-box .txt {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: .6s;
  transition: .6s;
}

.footer {
  background-color: #406D80;
  padding: 50px 0;
  color: #ffffff;
  text-align: center;
}

.breadcrumb {
  padding: 50px 0;
}

@media (max-width: 576px) {
  .breadcrumb {
    padding: 5px;
  }
}

.breadcrumb .container {
  width: 100%;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

.breadcrumb .container .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 30px;
}

@media (max-width: 576px) {
  .breadcrumb .container .title {
    padding: 30px 0;
  }
}

.breadcrumb .container .breadcrumb-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 30px;
}

@media (max-width: 576px) {
  .breadcrumb .container .breadcrumb-box {
    padding-bottom: 0px;
  }
}

.breadcrumb .container .breadcrumb-box li {
  padding-bottom: 10px;
}

.breadcrumb .container .breadcrumb-box li + li:before {
  content: '>';
  margin: 0 20px;
}

@media (max-width: 576px) {
  .breadcrumb .container .breadcrumb-box li + li:before {
    margin: 0 10px;
  }
}

.breadcrumb .container .breadcrumb-box li:last-child a {
  color: #EBB445;
}

.breadcrumb .container .breadcrumb-box a {
  text-decoration: none;
  color: #406D80;
  font-size: 18px;
}

.breadcrumb .container .breadcrumb-box a:hover {
  color: #EBB445;
}

.breadcrumb .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.read {
  border: 1px solid #CD8FC6;
  border-radius: 20px;
  font-size: 18px;
  padding: 10px 20px;
}

.read a {
  text-decoration: none;
  color: #CD8FC6;
}

.read:hover {
  background-color: #CD8FC6;
}

.read:hover a {
  color: #ffffff;
}

.blog-container {
  background-color: #ffffff;
  width: 900px;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  margin-right: 50px;
}

@media (max-width: 576px) {
  .blog-container {
    margin-bottom: 5px;
    width: 100%;
  }
}

.blog-container .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog-container .title .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
}

.blog-container .title .top img {
  border-radius: 50%;
  width: 10%;
}

@media (max-width: 576px) {
  .blog-container .title .top img {
    margin: auto;
    width: 30%;
  }
}

.blog-container .title .top .txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 20px;
}

.blog-container .title .top .txt h3 {
  font-size: 36px;
  padding-bottom: 10px;
}

.blog-container .title .top .txt h4 {
  font-size: 28px;
  padding-bottom: 10px;
}

.blog-container .title .top .txt h4 a {
  text-decoration: none;
  color: #406D80;
}

.blog-container .title .top .txt h4 a:hover {
  color: #EBB445;
}

.blog-container .title .blog-txt {
  padding: 0 30px;
}

@media (max-width: 576px) {
  .blog-container .title .blog-txt {
    padding: 0 10px;
  }
}

.blog-container .title .blog-txt h2 {
  padding-top: 10px;
}

.blog-container .title .blog-txt h5 {
  font-size: 18px;
  padding: 10px 0;
}

.blog-container .title .blog-txt p {
  font-size: 18px;
  line-height: 24px;
}

.blog-container .title .txt {
  padding: 0 30px;
}

@media (max-width: 576px) {
  .blog-container .title .txt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 10px;
  }
}

.blog-container .title .txt .photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 576px) {
  .blog-container .title .txt .photo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.blog-container .title .txt .photo img {
  padding-right: 10px;
}

@media (max-width: 576px) {
  .blog-container .title .txt .photo img {
    width: 100%;
    padding-bottom: 10px;
  }
}

.blog-container .title .txt .photo .map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 430px;
}

@media (max-width: 576px) {
  .blog-container .title .txt .photo .map {
    width: 100%;
  }
}

.blog-container .title .txt h2 {
  font-size: 36px;
  padding-top: 10px;
}

.blog-container .title .txt h5 {
  font-size: 14px;
  color: #3d3d3d;
  padding: 10px 0;
  font-weight: 100;
}

.blog-container .title .txt p {
  font-size: 18px;
  line-height: 32px;
  font-weight: 500;
}

.blog-list {
  background-color: #ffffff;
  width: 250px;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

@media (max-width: 576px) {
  .blog-list {
    margin: auto;
    width: 100%;
    padding: 0 10px;
  }
}

.blog-list h2 {
  font-size: 28px;
  padding: 20px 10px;
  position: relative;
}

@media (max-width: 576px) {
  .blog-list h2 {
    padding: 20px 0px;
  }
}

.blog-list h2:after {
  content: '';
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-bottom: 1px solid #406D80;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 576px) {
  .blog-list h2:after {
    left: 0px;
    right: 0px;
  }
}

.blog-list li {
  padding-bottom: 20px;
}

.blog-list a {
  text-decoration: none;
  padding: 0 10px;
  color: #406D80;
  font-size: 18px;
}

@media (max-width: 576px) {
  .blog-list a {
    padding: 0;
  }
}

.blog-list a i {
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.blog-list a:hover i {
  opacity: 1;
}

.blog-list .ex ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog-list .ex li {
  padding: 10px;
}

.blog-list .ex a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  border: 1px solid #406D80;
  color: #406D80;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px 0;
  font-size: 18px;
  -webkit-transition: .5s;
  transition: .5s;
}

.blog-list .ex a:hover {
  background-color: #406D80;
  color: #ffffff;
}
/*# sourceMappingURL=all.css.map */